<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="配置键" value="配置值"/>

		<add key="ExpireIn" value="1800"/>

		<add key="SessionKey" value="X60JrcJBRHNUoCesRZ038zxOjb7cF51s"/>

		<add key="VideoPath" value="../"/>
	</appSettings>
	<connectionStrings>
		<add name="数据库连接字符串键" connectionString="数据库连接字符串值"/>
		<add name="TestConnectiong" connectionString="user id=yl; password=guilain1004...; database=Test; server=47.103.110.235;MultipleActiveResultSets=true"/>
		<add name="VideoConnectiong" connectionString="user id=video; password=video123...; database=HomeVideo; server=192.168.0.3;MultipleActiveResultSets=true"/>
	</connectionStrings>
</configuration>